/* general/reset */
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --dark-gray: hsl(0, 0%, 55%);
    --very-dark-gray: hsl(0, 0%, 41%);
}

html {
    box-sizing: border-box;
    font-size: 15px;
}

body {
    min-height: 100%;
    width: 100%;
    font-family: 'Alata', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
}

img {
    width: 100%;
    height: auto;
}

a {
    color: inherit;
    text-decoration: inherit;
}

button {
    cursor: pointer;
}

/* javascript classes */
.add {
    display: initial;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
}

.remove {
    display: none;
}

.hidden {
    overflow: hidden;
}

/* header*/
header {
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "nav nav"
        "nav-hero nav-hero";
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.2)), url(../images/mobile/image-hero.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 2.5em 2em;
}

/* nav */
nav {
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 32px;
}

.nav-logo {
    align-self: center;
}

.nav-logo img {
    width: 145px;
    height: 45x;
}

.desktop-menu {
    display: none;
}

.mobile-menu {
    align-self: center;
}

/* pop up mobile menu */
.mobile-menu-black {
    width: 100%;
    min-height: 100vh;
    background-color: black;
    color: white;
    padding: 2.5em 2em;
}

.container-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 32px;
}

.container-bottom {
    margin-top: 8em;
}

.container-bottom ul {
    width: fit-content;
}

.container-bottom li {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: .5em;
}

/* nav hero */
.nav-hero {
    grid-area: nav-hero;
    height: 196.8px;
}

.nav-hero-text {
    border: 3px solid white;
    color: white;
    padding: 1.5em;
    max-width: 650px;
}

.nav-hero-text h1 {
    font-size: 2.3rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 1;
    text-transform: uppercase;
    overflow-wrap: break-word;
}

/* end of nav */

/* main */
/* top content */
main {
    width: 100%;
}
.top-container {
    min-height: 100vh;
    width: 100%;
    padding: 0 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-content {
    display: grid;
    place-items: center;
}

.hero-text {
    text-align: center;
    margin-top: 3em;
    max-width: 654px;
}

.hero-text h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.55rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: .75em;
}

.hero-text p {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 1.05rem;
    line-height: 1.6;
    letter-spacing: 0px;
    padding: 1.5em;
}

.hero-img img {
    height: 100%;
}

/* bottom content */
.bottom-container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1.5em;
}

.bottom-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
}

.bottom-content-title {
    text-align: center;
}

.bottom-content-title h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.bottom-content-btn {
    grid-row: 3 / 4;
    margin: auto;
    padding: 2em 4em 6em;
}

.bottom-content-btn button {
    padding: .75em 2.75em;
    background-color: transparent;
    border: 2px solid var(--black);
    margin: 0;
    text-align: inherit;
    font-family: 'Alata', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 0;
    appearance: none;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.bottom-content-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 1.5em;
}

.grid-item {
    position: relative;
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(80%);
}

.grid-text {
    position: absolute;
    bottom: 16px;
    left: 16px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.25rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* end of main */

/* Footer */
footer {
    width: 100%;
    background-color: var(--black);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em 0;
}

.footer-intro {
    margin-bottom: 2em;
}

.footer-intro img {
    width: 145px;
    height: 25px;
    margin-bottom: 2em;
}

.footer-intro ul li {
    text-align: center;
    padding: .5em 0;
    margin-bottom: .5em;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: .85rem;
}

.footer-end ul {
    text-align: center;
    margin-bottom: 1em;
}

.footer-end ul li {
    display: inline-block;
    margin-right: 1em;
}

.footer-end img {
    width: 20px;
    height: 20px;
}

footer small {
    color: var(--very-dark-gray);
    font-size: .75rem;
    font-family: 'Alata', sans-serif;
    font-weight: 600;
    letter-spacing: .5px;
}

/* end of footer */

/* Media Queries */
/* need to fix site at 375px and under */
@media screen and (min-width: 1440px) {
    /* header */
    header {
        background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.2)), url(../images/desktop/image-hero.jpg);
        padding: 5em 10em;
    }

    .nav-hero {
        width: 650px;
    }

    .mobile-menu {
        display: none;
    }

    .desktop-menu {
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .desktop-menu li {
        display: inline-block;
        color: white;
        font-size: 1.1rem;
        margin-left: 1.25em;
    }

    /* nav */
    nav {
        grid-area: nav;
        display: flex;
        justify-content: space-between;
        height: 32px;
    }

    .nav-logo {
        align-self: center;
    }

    .nav-logo img {
        width: 175px;
        height: 75x;
    }

    /* nav hero */
    .nav-hero-text {
        padding: 2.5em;
    }

    .nav-hero-text h1 {
        font-size: 4rem;
        font-weight: 500;
        line-height: 1.1;
    }

    .nav-hero-br {
        display: none;
    }

    /* hover states */

    /* link used to solve hover bug when using ::before
    https://stackoverflow.com/questions/44855982/draw-line-with-span-when-hover-over-link */
    .menu-hover {
        position: relative;
        padding-bottom: .5em;
    }

    .menu-hover::after {
        content : "";
        position: absolute;
        left    : 25%;
        bottom  : 0;
        height  : 4px;
        width   : 0;
        border-bottom:2px solid white;
        text-align: center;
    }

    .menu-hover:hover::after {
        width: 50%;
    }
    
    /* end of nav */

    /* main */
    /* top content */
    
    .top-container {
        padding: 0;
    }

    .top-content {
        position: absolute;
        width: 1138.55px;
        height: 525px;
        display: grid;
        place-items: initial;
        grid-template-columns: .55fr .15fr .15fr auto;
        grid-template-rows: .38fr .62fr;
        grid-template-areas:
            "hero-img hero-img white-block"
            "hero-img hero-img hero-text";
        /* used for hover effect */    
        z-index: 0;
    }

    .hero-img img {
        display: none;
    }

    .hero-img {
        grid-area: hero-img;
        background-image: url(../images/desktop/image-interactive.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        /* used for hover effect */
        z-index: 2;
        position: absolute;
    }

    .white-block {
        grid-area: white-block;
        display: initial;
        width: 100%;
        height: 100%;
        /* used for hover effect */
        z-index: 1;
        position: absolute;
        background-color: white;
    }

    .hero-text {
        /* removed flex for desktop */
        display: initial;
        grid-area: hero-text;
        width: 100%;
        height: 100%;
        grid-column: 2/5;
        grid-row: 2/3;
        /* used for hover effect */
        z-index: 3;
        position: absolute;
        background-color: white;
        margin-top: 0;
        /* margin: 0 auto; */
    }

    .hero-text h2 {
        font-size: 2.8rem;
        letter-spacing: 2px;
        font-weight: 600;
        text-align: center;
        margin: 0 .8em 0 0;
        padding: 0 0 .85em 0;
    }

    .hero-text p {
        font-size: 1.05rem;
        padding: 0;
        margin: 0 0 0 1.8em;
        color: var(--dark-gray);
        font-weight: 600;
        text-align: left;
        line-height: 1.6;
        letter-spacing: 0;
    }

    .flex {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: end;
    }

    .flex div {
        width: 90%;
        margin-left: 4em;
    }

    /* end of top content */

    /* bottom content */
    .bottom-container {
        padding: 0 0 12em 0;
    }

    .bottom-content {
        width: 80%;
        max-width: 1152px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        padding: 0;
    }

    .bottom-content-title {
        text-align: left;
        margin-bottom: 4em;
    }
    
    .bottom-content-title h3 {
        margin-bottom: 0;
        font-size: 3.25rem;
        font-weight: 300;
    }

    .bottom-content-btn {
        grid-column: 2/3;
        grid-row: 1/2;
        padding: 0;
        margin: 0 0 auto auto;
    }

    .bottom-content-btn button {
        border: 2px solid var(--very-dark-gray);
        border-radius: 2px;
    }

    button:hover {
        background-color: var(--black);
        color: var(--white);
    }

    .bottom-content-grid {
        grid-column: 1/3;
        grid-row: 2/3;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto;
    }

    .grid-item {
        width: 268px;
        height: 475px;
    }
    /* hover states */

    /* used z-index on parent and child elements to solve issue
    where text was being affected by opacity */
    .grid-item:hover > .grid-img {
        opacity: .2;
        cursor: pointer;
    }

    .grid-item:hover > .grid-text {
        color: var(--black);
        cursor: pointer;
    }

    /* removed grid images from mobile for desktop */
    .grid-item img {
        display: none;
    }

    .grid-text {
        font-size: 1.8rem;
        bottom: 40px;
        left: 50px;
    }

    /* new background images for desktop */
    .deep-earth {
        background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.2)), url(../images/desktop/image-deep-earth.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        width: 100%;
        height: 100%;
    }

    .night-arcade {
        background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.2)), url(../images/desktop/image-night-arcade.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        width: 100%;
        height: 100%;
    }

    .soccer-team {
        background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.2)), url(../images/desktop/image-soccer-team.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        width: 100%;
        height: 100%;
    }

    .grid {
        background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.2)), url(../images/desktop/image-grid.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        width: 100%;
        height: 100%;
    }

    .from-above {
        background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.2)), url(../images/desktop/image-from-above.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        width: 100%;
        height: 100%;

    }

    .pocket-borealis {
        background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.2)), url(../images/desktop/image-pocket-borealis.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        width: 100%;
        height: 100%;
    }

    .curiosity {
        background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.2)), url(../images/desktop/image-curiosity.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        width: 100%;
        height: 100%;
    }

    .fish-eye {
        background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.2)), url(../images/desktop/image-fisheye.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        width: 100%;
        height: 100%;
    }
    /* end of main */

    /* footer */
    footer {
        flex-direction: row;
        justify-content: space-between;
        padding: 4em 9em;
    }

    .footer-intro {
        margin-bottom: 0;
    }

    .footer-intro ul li {
        display: inline-block;
        margin-right: 1em;
        font-size: 1.05rem;
    }

    .footer-end {
        padding-top: 1em;
    }

    .footer-end ul {
        text-align: right;
        margin-bottom: 1.5em;
    }

    .footer-end ul li {
        margin-right: 0;
        margin-left: 1em;
    }
    /* hover states */
    .icon-hover {
        position: relative;
        padding-bottom: .5em;
    }

    .icon-hover::after {
        content : "";
        position: absolute;
        left    : 0;
        bottom  : 0;
        height  : 4px;
        width   : 0;
        border-bottom:2px solid white;
        text-align: center;
    }

    .icon-hover:hover::after {
        width: 100%;
    }
    /* end of footer */
}